<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title> Watchlist App</title>
</head>
<body>
    <h1>Watchlist</h1>
    <div>Add a new stock: 
        <form action = "/add" method = 'POST'>
            <input type = 'text' name = 'symbol'>
            <input type = 'submit' value = 'Add Stock'></div>
        </form>
    </div>  
    <div>
            <h2>Stocks</h2>
            <ul>
                {% for sym in syms %}
                <li style = "font-size: 20pt"><input name = "{{sym.id}}" type="checkbox">{{ sym.text }} <form action = '/delete' method = 'POST'>
                    <input type = 'submit' value = 'Delete'>
                </form></li>                         
                {% endfor %}
                 
            </ul>        
    </div>
</body>
</html>