<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = "UTF-8">
    <title> Watchlist App</title>
</head>
<body>
    <h1>Watchlist</h1>
    <div>Add a new stock: 
        <form action = "/add" method = 'POST'>
        <input type = 'text' name = 'symbol'>
        <input type = 'submit'></div>
        </form>
    <div>
    <ul>
        <li style = "font-size: 20pt"><input type = 'checkbox'>Some text</li>
        <li style = "font-size: 20pt"><input type = 'checkbox'>Some text</li>
        <li style = "font-size: 20pt"><input type = 'checkbox'>Some text</li>
    </ul>
    </div>
</body>
</html>